<app-homeheader></app-homeheader>
<ng-container *ngIf = "products.length !=0">
  <div class="container" style=" width: 100%; align-self: center; margin-top: 50px;">
    <div class="card-table"  style="padding: 15px; width: 100%; align-self: center; margin-top: 50px;">
      <div class="table table-responsive" style="align-content: center;">
        <table class="" style="padding: 20px; align-items:center; border: 1px solid black; width: 100%; ">
                <thead>
                <tr>
                <th>Item No.</th>
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Product Description</th>
                <th>Product Image</th>
                <th>Product Quantity</th>
                <th>Product Total</th>
                </tr>
                </thead>
        <tbody>
        <tr *ngFor="let product of products; let i = index">
                <td>{{i+1}}</td>
                <td>{{product.pname}}</td>
                <td>{{product.pprice}}</td>
                <td>{{product.pdesc}}</td>
                <td><img style="width: 120px;"src="{{product.pimage}}"></td>
                <td>{{product.pquantity}}</td>
                <td>{{product.itemtotal}}</td>
                <td><button type="button" (click)="removeItem(product)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></td>
          </tr>
          <tr >
            <td colspan="4"></td>
            <td style="padding: 5px;"><button (click)="emptycart()" class="btn btn-danger">Empty Cart</button></td>
            <td style="padding: 5px;"><button routerLink="/home" class="btn btn-primary">Shop More</button></td>

            <td style="padding: 5px;"><button class="btn btn-success" routerLink="/payment">Checkout</button></td>
            <td><strong>Grand Total : ₹{{grandTotal}}</strong></td>

        </tr>
</tbody>
</table>
</div>
</div>
</div>
</ng-container>

<ng-container *ngIf = "products.length ==0" class="">
  <div class="container">
    <div class="card">
      <h3 class="card-title">My Cart</h3>
        <div class="card-body" style="align-self: center;">
        <img [src]="" alt="">
        <h4>Your cart is empty</h4>
        <h6>Add item to it now</h6>
        <button class="btn btn-primary" routerLink="/home">Shop Now</button>
      </div>
  </div>

  </div>
  </ng-container>
