<app-homeheader></app-homeheader>
<div class="row" style="padding: 15px; ">
  <main class="col-md-8">

<article class="card mb-4">
<div class="card-body">
<h2 class="card-title mb-4">Review cart</h2>
<ng-container *ngIf = "products.length !=0">
  <div class="container">
    <div class="card-table">
      <div class="cart-product">
        <table class="table table-responsive">
                <thead>
                <tr>
                <th>Item No.</th>
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Product Description</th>
                <th>Product Image</th>
                <th>Product Quantity</th>
                <th>Product Total</th>
                </tr>
                </thead>
        <tbody>
        <tr *ngFor="let product of products; let i = index">
                <td>{{i+1}}</td>
                <td>{{product.pname}}</td>
                <td>{{product.pprice}}</td>
                <td>{{product.pdesc}}</td>
                <td><img style="width: 120px;"src="{{product.pimage}}"></td>
                <td>{{product.pquantity}}</td>
                <td>{{product.pprice}}</td>

          </tr>

</tbody>
</table>
</div>
</div>
</div>
</ng-container>
</div> <!-- card-body.// -->
</article> <!-- card.// -->


<article class="card mb-4">
<div class="card-body">
<h2 class="card-title mb-4">Contact details</h2>

<form>

  <div class="row">
      <div class="form-group col-sm-6">
        <label for="fname">Enter your first name:</label>
        <input type="text" id ="fname" class="form-control" placeholder="Enter Your Name"  />
                <!-- <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
              <div *ngIf="f['name'].errors && f['name'].errors['required']">First name is required.</div>
      </div> -->

      <div class="form-group col-sm-6">
        <label for="lname">Enter your last name : </label>
        <input type="text"  id ="lname" class="form-control" placeholder="Enter Your Name"  />
                <!-- <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
              <div *ngIf="f['name'].errors && f['name'].errors['required']">Last name is required.</div>
      </div> -->

      <div class="form-group col-sm-6">
          <label>Phone</label>

          <input type="text" value="+91" class="form-control" placeholder="Enter valid phone number" required>

      </div>

      <div class="form-group col-sm-6">
          <label>Email</label>
          <input type="email" placeholder="example@gmail.com" class="form-control" required>
      </div>
  </div> <!-- row.// -->
  </div>
  </div>
</form>
</div> <!-- card-body.// -->
</article>


<article class="card mb-4">
<div class="card-body">
<h2 class="card-title mb-4">Delivery details</h2>
<p>Order will be delivered at this address</p>

<form action="">
  <div class="row" style="padding: 10px;">
          <div class="form-group col-sm-6">
              <label>City*</label>
              <select name="" class="form-control">
                  <option value="">Mumbai</option>
                  <option value="">Delhi</option>
                  <option value="">Chennai</option>
                  <option value="">Hyderabad</option>
                  <option value="">Nagpur</option>
                  <option value="">Pune</option>
                  <option value="">Chandigarh</option>
              </select>
          </div>
          <div class="form-group col-sm-6">
              <label>Area*</label>
              <input type="text" placeholder="" class="form-control">
          </div>
          <div class="form-group col-sm-8">
              <label>Street*</label>
              <input type="text" placeholder="" class="form-control">
          </div>
          <div class="form-group col-sm-4">
              <label>Building</label>
              <input type="text" placeholder="" class="form-control">
          </div>
          <div class="form-group col-sm-4">
              <label>House</label>
              <input type="text" placeholder="" class="form-control">
          </div>
          <div class="form-group col-sm-4">
              <label>Postal code</label>
              <input type="text" placeholder="" class="form-control">
          </div>



  </div> <!-- row.// -->
</form>
</div> <!-- card-body.// -->
</article> <!-- card.// -->


<article class="accordion" id="accordion_pay">

  <!-- this was for pay-pal -->
<!-- <div class="card"> -->
  <!-- <header class="card-header">
      <img src="assets/images/misc/payment-paypal.png" class="float-right" height="24">
      <label class="form-check collapsed" data-toggle="collapse" data-target="#pay_paynet">
          <input class="form-check-input" name="payment-option" checked="" type="radio" value="option2">
          <h6 class="form-check-label">
              Paypal
          </h6>
      </label>
  </header> -->
  <!-- <div id="pay_paynet" class="collapse show" data-parent="#accordion_pay"> -->
  <!-- <div class="card-body">
      <p class="text-center text-muted">Connect your PayPal account and use it to pay your bills. You'll be redirected to PayPal to add your billing information.</p>
      <p class="text-center">
          <a href="#"><img src="assets/images/misc/btn-paypal.png" height="32"></a>
          <br><br>
      </p>
  </div> card body .// -->
  <!-- </div> collapse .// -->
<!-- </div> -->
<div class="card">
  <header class="card-header">
    <!-- <img src="assets/images/misc/payment-card.png" class="float-right" height="24"> -->
    <!-- CASH ON DELIVERY -->
    <label class="form-check" data-toggle="collapse" data-target="#pay_payme">
        <input class="form-check-input" name="payment-option" type="radio" value="checked" >
        <h2 class="form-check-label"> Cash On Delivery </h2>
    </label>
  </header>
<!-- <header class="card-header">
   <img src="assets/images/misc/payment-card.png" class="float-right" height="24"> -->
  <!-- DEBIT/CREDIT CARD PAYMENT -->
  <!-- <label class="form-check" data-toggle="collapse" data-target="#pay_payme"> -->
      <!-- <input class="form-check-input" name="payment-option" type="radio" value="option2"> -->
      <!-- <h2 class="form-check-label">  Card Payment </h2> -->
  <!-- </label> -->
<!-- </header>  -->

<!-- CARD DETAILS -->
<!-- <div id="pay_payme" class="collapse" data-parent="#accordion_pay"> -->
  <!-- <div class="card-body"> -->
      <!-- <p class="alert alert-success">Some information or instruction</p> -->
      <!-- <form class="form-inline"> -->
          <!-- <input type="text" class="form-control mr-2" placeholder="xxxx-xxxx-xxxx-xxxx" name=""> -->
          <!-- <input type="text" class="form-control mr-2" style="width: 100px" placeholder="dd/yy" name=""> -->
          <!-- <input type="number" maxlength="3" class="form-control mr-2" style="width: 100px" placeholder="cvc" name=""> -->
          <!-- <button class="btn btn btn-success">Button</button> -->
      <!-- </form> -->
  <!-- </div> card body .// -->
<!-- </div> collapse .// -->
</div> <!-- card.// -->
<!-- <div class="card"> -->
  <!-- <header class="card-header">
      <!-- <img src="assets/images/misc/payment-bank.png" class="float-right" height="24"> -->
      <!-- <label class="form-check" data-toggle="collapse" data-target="#pay_card">
          <input class="form-check-input" name="payment-option" type="radio" value="option1">
          <h6 class="form-check-label"> Bank Transfer </h6>
      </label> -->
  <!-- </header> -->
  <!-- IT WILL SHOW PAYMENT DETAILS TO USER -->
  <!-- <div id="pay_card" class="collapse" data-parent="#accordion_pay">
      <div class="card-body">
          <p class="text-muted">Some instructions about how to pay </p>
          <p>
              Bank of America, Account number: 12345678912346 <br>
              IBAN: 12345, SWIFT: 987654
          </p> -->
      <!-- </div> card body .// -->
  <!-- </div> collapse .// -->
<!-- </div> card.// -->
</article>
<!-- accordion end.// -->

  </main> <!-- col.// -->
  <aside class="col-md-4">
      <div>
      <div class="card-body">
          <h2 class="mb-3">Overview</h2>
          <!-- <dl class="dlist-align">
              <dt class="text-muted">Delivery:</dt>
              <dd>Pick-up</dd>
            </dl>
          <dl class="dlist-align">
            <dt class="text-muted">Delivery type:</dt>
            <dd>Standart</dd>
          </dl>
          <dl class="dlist-align">
            <dt class="text-muted">Payment method:</dt>
            <dd>Cash</dd>
          </dl> -->
          <hr>
          <dl class="dlist-align">
            <h3><dt>Total:</dt></h3>
            <dd class="h5"><span>₹ {{grandTotal}}</span></dd>
          </dl>
          <hr>

          <input type="checkbox" value="By clicking you are agree with terms of condition" name="" id="">&nbsp;&nbsp;

          <p class="small mb-3 text-muted" style="display: inline-block;">By clicking you are agree with <a href="#">terms of condition</a></p><br>

          <button class="btn btn-primary btn-block" (click)="saveOrderItems()"> Place Order  </button>

      </div> <!-- card-body.// -->
      </div> <!-- card.// -->
  </aside> <!-- col.// -->
</div> <!-- row.// -->

