<!--<div class="container">
    <div class="row">
        <li class="col" *ngFor="let product of products">
            {{product.id}}
            {{product.name}}
            {{product.price}}
            {{product.description}}
            {{product.image}}
            {{product.quantity}}
            {{product.category}}
        </li>
    </div>
</div> -->

<app-header></app-header>
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="banner">
                <div class="col-md-12">
                    <img id="ba" class="img-responsive" src="../../assets/banner.jpg" alt="Shopping" />
                </div>
            </div>
        </div>
    </div>
</div>
<section id="men-products"><div class="container" style="padding-top: 30px;">
    <div class="row">
        <ng-container *ngFor="let product of products">
        <div class="col-md-3">
            <img src="{{product.pimage}}" alt="" style="width: 270px; height: 350px;">
            <h5>{{product.pname}}</h5>
            <p>₹{{product.pprice}}</p>
            <button class="btn btn-primary" routerLink="/login" >Add to Cart</button>
            <button class="btn btn-primary" (click)="addtocart(product);">Add to Cart</button>
            <input type="number" id="quantity" name="quantity" min="1" max="5">
        </div>
    </ng-container>
    </div>
</div>
</section>

